rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && auth.token.admin == true;
    }
    match /users/{userId} {
      function isUser() {
        return request.auth != null && request.auth.uid == userId
      }
      allow read, update: if isUser() || isAdmin();
      allow create, delete: if false;
    }
    match /content/{document=**} {
      allow read: if true;
      allow create, delete, update: if isAdmin();
    }
  }
}